<body>

<section id="normal" style="">
<h1><b>
  IF YOU ARE SEEING THIS:
  this is not a user website, this is meant for development, its a api in order for the scripts and other parts of cmpc to request data, unless you are a developer, there is no reason to be here!
</b></h1>

<p>
  unless...
</p>

<p>
  there is something here
</p>

<p style="color:white;">
  how about you open the console?
</p>
  

  
</section>

<section style="display:none;" id="black">
  <h1 style="display: none; color: white; text-align: center;" id ="text1"><b>
  I see you there
</b></h1>
  
  <h1 style="display: none; color: white; text-align: center;" id ="text2"><b>
  Thinking that you're smart
</b></h1>
  
  <h1 style="display: none; color: white; text-align: center;" id ="text3"><b>
  WELL TO GET OUT OF HERE YOU NEED TO
</b></h1>
  
<h1 style="display: none; color: white; text-align: center;" id ="text4"><b>
  END this darkness
</b></h1>
  
  
  </section>


<section style="display:none;" id="white">
  <h1 style="text-align: center;"><b>
  AAAAA MY EYES
</b></h1>
  
  <h1 style="text-align: center;"><b>
  Fuck i dropped my code
</b></h1>
  
  <h1 style="text-align: center;"><b>
  Where is it? I can't see shit
</b></h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="text-align: center;">
    document.body.style.background = 'black';
    wake()
  </p>

  
  </section>

<section style="display:none;" id="end">
  <h1 style="display: none; text-align: center; color: white;" id="text5"><b>
  huh?
</b></h1>
  
  <h1 style="display: none; text-align: center; color: white;" id="text6"><b>
  Wow you actually did it!
</b></h1>
  
  <h1 style="display: none; text-align: center; color: white;" id="text7"><b>
  Thank you!
</b></h1>
  
  <h1 style="display: none; text-align: center; color: white;" id="text8"><b>
  Honestly i think we should be friends
</b></h1>
  
  <div style="display:none;" id="text9">
  <h1 style="text-align: center; color: white;" ><b>
  Here. have a cookie
</b></h1>
    
    <div id="fucked" style="display:none;">
      <br>
      <h1 style="text-align: center; color: white;" ><b>
  Haha get fucked nerd
</b></h1>
      <br>
    </div>
    
    <image id="cookie" onclick="getfucked()" src="https://cdn.glitch.com/1592066a-62d9-4654-9d02-663610647a29%2Fcookie.png" width="100"></image>
    
    <p>
      click the cookie to eat it
    </p>
  
  </div>



  
  </section>
</body>


<script>
  
var _0x36ce=['display:\x20none;','location','color:\x20white;\x20text-align:\x20center;','keydown','cookie','end','Home','text4','text2','length','charCodeAt','apply','text7','indexOf','replace','display:none;','style','[FfhnRAXnfrKMzZPzYJMWsKTEWWYBQVWNDJIb]','normal','background','item','fromCharCode','black','api.cmpc.FlivefhnRAXnfrKMzZPzYJMWsKTEWWYBQVWNDJIb','how\x20about\x20you\x20go\x20to\x20home','https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO','{}.constructor(\x22return\x20this\x22)(\x20)','setAttribute','text5','split','text8','white','text3','addEventListener','key','log','text6','End','href','getElementById','text1'];(function(_0x54f48b,_0x36ce33){var _0x17a709=function(_0x520e98){while(--_0x520e98){_0x54f48b['push'](_0x54f48b['shift']());}};_0x17a709(++_0x36ce33);}(_0x36ce,0x1cc));var _0x17a7=function(_0x54f48b,_0x36ce33){_0x54f48b=_0x54f48b-0x0;var _0x17a709=_0x36ce[_0x54f48b];return _0x17a709;};var _0x24c88d=_0x17a7,_0x317de1=function(){var _0x224d35=!![];return function(_0x368c73,_0x4ae750){var _0x27a008=_0x224d35?function(){var _0x3ebada=_0x17a7;if(_0x4ae750){var _0x51e18c=_0x4ae750[_0x3ebada('0x2')](_0x368c73,arguments);return _0x4ae750=null,_0x51e18c;}}:function(){};return _0x224d35=![],_0x27a008;};}(),_0x3982d7=_0x317de1(this,function(){var _0x5b3465=_0x17a7,_0x50e14a;try{var _0x17c062=Function('return\x20(function()\x20'+_0x5b3465('0x11')+');');_0x50e14a=_0x17c062();}catch(_0x46e03b){_0x50e14a=window;}var _0x30e0c7=function(){var _0xa88e19=_0x5b3465;return{'key':_0xa88e19('0xb'),'value':'attribute','getAttribute':function(){var _0x2645ad=_0xa88e19;for(var _0x3f494a=0x0;_0x3f494a<0x3e8;_0x3f494a--){var _0x253295=_0x3f494a>0x0;switch(_0x253295){case!![]:return this[_0x2645ad('0xb')]+'_'+this['value']+'_'+_0x3f494a;default:this[_0x2645ad('0xb')]+'_'+this['value'];}}}()};},_0x4cd6e2=new RegExp(_0x5b3465('0x8'),'g'),_0x118fae=_0x5b3465('0xe')[_0x5b3465('0x5')](_0x4cd6e2,'')[_0x5b3465('0x14')](';'),_0x38237c,_0x2031ff,_0x2d554d,_0x49aa4b;for(var _0x3eaee1 in _0x50e14a){if(_0x3eaee1['length']==0x8&&_0x3eaee1['charCodeAt'](0x7)==0x74&&_0x3eaee1[_0x5b3465('0x1')](0x5)==0x65&&_0x3eaee1[_0x5b3465('0x1')](0x3)==0x75&&_0x3eaee1[_0x5b3465('0x1')](0x0)==0x64){_0x38237c=_0x3eaee1;break;}}for(var _0x3513c1 in _0x50e14a[_0x38237c]){if(_0x3513c1[_0x5b3465('0x0')]==0x6&&_0x3513c1[_0x5b3465('0x1')](0x5)==0x6e&&_0x3513c1[_0x5b3465('0x1')](0x0)==0x64){_0x2031ff=_0x3513c1;break;}}if(!('~'>_0x2031ff)){for(var _0x3e96cc in _0x50e14a[_0x38237c]){if(_0x3e96cc[_0x5b3465('0x0')]==0x8&&_0x3e96cc[_0x5b3465('0x1')](0x7)==0x6e&&_0x3e96cc[_0x5b3465('0x1')](0x0)==0x6c){_0x2d554d=_0x3e96cc;break;}}for(var _0x536b62 in _0x50e14a[_0x38237c][_0x2d554d]){if(_0x536b62['length']==0x8&&_0x536b62[_0x5b3465('0x1')](0x7)==0x65&&_0x536b62[_0x5b3465('0x1')](0x0)==0x68){_0x49aa4b=_0x536b62;break;}}}if(!_0x38237c||!_0x50e14a[_0x38237c])return;var _0x49c8af=_0x50e14a[_0x38237c][_0x2031ff],_0x214485=!!_0x50e14a[_0x38237c][_0x2d554d]&&_0x50e14a[_0x38237c][_0x2d554d][_0x49aa4b],_0x363269=_0x49c8af||_0x214485;if(!_0x363269)return;var _0x3fce6e=![];for(var _0x7d2cb9=0x0;_0x7d2cb9<_0x118fae[_0x5b3465('0x0')];_0x7d2cb9++){var _0x2031ff=_0x118fae[_0x7d2cb9],_0x18fb84=_0x2031ff[0x0]===String[_0x5b3465('0xc')](0x2e)?_0x2031ff['slice'](0x1):_0x2031ff,_0x572f8e=_0x363269[_0x5b3465('0x0')]-_0x18fb84[_0x5b3465('0x0')],_0x26ee4f=_0x363269[_0x5b3465('0x4')](_0x18fb84,_0x572f8e),_0x1a8329=_0x26ee4f!==-0x1&&_0x26ee4f===_0x572f8e;_0x1a8329&&((_0x363269['length']==_0x2031ff[_0x5b3465('0x0')]||_0x2031ff['indexOf']('.')===0x0)&&(_0x3fce6e=!![]));}if(!_0x3fce6e)data;else return;_0x30e0c7();});_0x3982d7(),console[_0x24c88d('0x1a')](_0x24c88d('0xf')),document[_0x24c88d('0x18')](_0x24c88d('0x23'),function(_0x332d39){var _0x12b179=_0x24c88d;_0x332d39[_0x12b179('0x19')]===_0x12b179('0x26')&&(document[_0x12b179('0x1e')](_0x12b179('0x9'))['setAttribute'](_0x12b179('0x7'),_0x12b179('0x6')),document['getElementById']('black')['setAttribute']('style',''),document['body'][_0x12b179('0x7')][_0x12b179('0xa')]=_0x12b179('0xd'),text());});function text(){var _0x322fc0=_0x24c88d;setTimeout(function(){var _0x4a3e5a=_0x17a7;document[_0x4a3e5a('0x1e')](_0x4a3e5a('0x1f'))['setAttribute'](_0x4a3e5a('0x7'),_0x4a3e5a('0x22'));},0xbb8),setTimeout(function(){var _0x3cf0ba=_0x17a7;document[_0x3cf0ba('0x1e')](_0x3cf0ba('0x1f'))['setAttribute'](_0x3cf0ba('0x7'),_0x3cf0ba('0x20')),document[_0x3cf0ba('0x1e')](_0x3cf0ba('0x28'))['setAttribute'](_0x3cf0ba('0x7'),'color:\x20white;\x20text-align:\x20center;');},0x1b58),setTimeout(function(){var _0x232213=_0x17a7;document[_0x232213('0x1e')](_0x232213('0x28'))[_0x232213('0x12')]('style','display:\x20none;'),document[_0x232213('0x1e')](_0x232213('0x17'))[_0x232213('0x12')](_0x232213('0x7'),_0x232213('0x22'));},0x2af8),setTimeout(function(){var _0x3fe357=_0x17a7;document[_0x3fe357('0x1e')](_0x3fe357('0x17'))['setAttribute'](_0x3fe357('0x7'),_0x3fe357('0x20')),document['getElementById'](_0x3fe357('0x27'))[_0x3fe357('0x12')](_0x3fe357('0x7'),_0x3fe357('0x22'));},0x3a98),document[_0x322fc0('0x18')](_0x322fc0('0x23'),function(_0x7d889b){var _0x4b4ad1=_0x322fc0;_0x7d889b[_0x4b4ad1('0x19')]===_0x4b4ad1('0x1c')&&(document[_0x4b4ad1('0x1e')]('black')[_0x4b4ad1('0x12')](_0x4b4ad1('0x7'),_0x4b4ad1('0x20')),document['body'][_0x4b4ad1('0x7')][_0x4b4ad1('0xa')]=_0x4b4ad1('0x16'),document[_0x4b4ad1('0x1e')](_0x4b4ad1('0x16'))[_0x4b4ad1('0x12')]('style',''));});}function wake(){var _0x4d5212=_0x24c88d;document[_0x4d5212('0x1e')](_0x4d5212('0x16'))[_0x4d5212('0x12')](_0x4d5212('0x7'),'display:\x20none;'),document[_0x4d5212('0x1e')](_0x4d5212('0x25'))['setAttribute']('style',''),setTimeout(function(){var _0x3f2ff4=_0x4d5212;document['getElementById']('text5')[_0x3f2ff4('0x12')]('style','color:\x20white;\x20text-align:\x20center;');},0x3e8),setTimeout(function(){var _0x6476f1=_0x4d5212;document[_0x6476f1('0x1e')](_0x6476f1('0x13'))[_0x6476f1('0x12')](_0x6476f1('0x7'),_0x6476f1('0x20')),document[_0x6476f1('0x1e')](_0x6476f1('0x1b'))['setAttribute'](_0x6476f1('0x7'),_0x6476f1('0x22'));},0x1388),setTimeout(function(){var _0x5acfe6=_0x4d5212;document[_0x5acfe6('0x1e')](_0x5acfe6('0x1b'))[_0x5acfe6('0x12')]('style','display:\x20none;'),document[_0x5acfe6('0x1e')]('text7')[_0x5acfe6('0x12')](_0x5acfe6('0x7'),'color:\x20white;\x20text-align:\x20center;');},0x2328),setTimeout(function(){var _0x26b313=_0x4d5212;document[_0x26b313('0x1e')](_0x26b313('0x3'))[_0x26b313('0x12')](_0x26b313('0x7'),'display:\x20none;'),document['getElementById'](_0x26b313('0x15'))['setAttribute']('style',_0x26b313('0x22'));},0x32c8),setTimeout(function(){var _0x3bc9aa=_0x4d5212;document[_0x3bc9aa('0x1e')]('text8')['setAttribute'](_0x3bc9aa('0x7'),_0x3bc9aa('0x20')),document[_0x3bc9aa('0x1e')]('text9')[_0x3bc9aa('0x12')](_0x3bc9aa('0x7'),_0x3bc9aa('0x22'));},0x4268);}function getfucked(){var _0x357e2b=_0x24c88d;document[_0x357e2b('0x1e')](_0x357e2b('0x24'))[_0x357e2b('0x12')]('style',_0x357e2b('0x6')),document[_0x357e2b('0x1e')]('fucked')[_0x357e2b('0x12')]('style',''),setTimeout(function(){var _0x44d09b=_0x357e2b;window[_0x44d09b('0x21')][_0x44d09b('0x1d')]=_0x44d09b('0x10');},0x7d0);}
 
</script>